menu "Keyboard Layouts"

config KB_LAYOUT_ENABLE_US
    bool "US-English (QWERTY)"
    default y
    help
        Enable the US-English QWERTY keyboard layout.

config KB_LAYOUT_ENABLE_UA
    bool "Ukrainian (Cyrillic)"
    default y
    help
        Enable the Ukrainian Cyrillic keyboard layout.

config KB_LAYOUT_ENABLE_DE
    bool "German (QWERTZ)"
    default n
    help
        Enable the German QWERTZ keyboard layout with umlauts.

config KB_LAYOUT_ENABLE_FR
    bool "French (AZERTY)"
    default n
    help
        Enable the French AZERTY keyboard layout with accents.

endmenu
